html,
body {
	height: 100%;
}

body {
	font-family: 'Quicksand', sans-serif;
	font-weight: 400;
	font-size: 20px;
	line-height: 40px;
	color: $primary-color;
	overflow-x: hidden;
	min-width: 320px;
	background-color: $main-color;
}

.wrapper {
	display: flex;
	flex-direction: column;
	min-height: 100%;
}

.main {
	flex: 1 0 auto;
}
.footer {
	flex: 0 0 auto;
}

.container{
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 20px;
}









