$primary-color: #000000;
$secondary-color: #bdae82;
$main-color: #ffffff;


%font-title {
  font-family: 'Cinzel', serif;
  font-weight: 600;
}


/*

// код ниже нужен чтобы не было конфликта после подключения библнотеки
 
@function max($numbers...) {
  @return m#{a}x(#{$numbers});
}
@function min($numbers...) {
  @return m#{i}n(#{$numbers});
}


*/