$primary-color: #000000;
$primary-color--light: #828282;
$secondary-color--light: #f6efee;
$main-color: #ffffff;
$active-color: #6c3e20;
$accent-color: #dcf9c5;


%font-text {
  font-family: 'Quicksand', serif;
  font-weight: 300;
}


%font-link {
  font-family: 'Quicksand', serif;
  font-weight: 600;
}


%font-subtitle {
  font-family: 'Cinzel', serif;
  font-weight: 300;
}


%font-title {
  font-family: 'Cinzel', serif;
  font-weight: 600;
}




