$primary-color: #000000;
$primary-color--light: #828282;
$secondary-color--light: #f6efee;
$main-color: #ffffff;
$active-color: #6c3e20;
$accent-color: #dcf9c5;


//from wow-effect link
$bg:#ffffff;
$underline-width: 10px;
$underline-block-width: 500px;
$underline-color: rgba(#cafe9f, 0.5);
$underline-color-hover: #dcf9c5;
$underline-transition: 0.6s;



%font-text {
  font-family: 'Quicksand', serif;
  font-weight: 300;
}


%font-link {
  font-family: 'Quicksand', serif;
  font-weight: 600;
}


%font-subtitle {
  font-family: 'Cinzel', serif;
  font-weight: 300;
}


%font-title {
  font-family: 'Cinzel', serif;
  font-weight: 600;
}

.text__item {
  overflow: hidden;  
  padding-bottom: 25px;
}

.anim-show {
  transform: translate(0px, 130%);
  opacity: 0;
  transition: all 0.8s ease 0s;
}

.anim-show.active-animation,
.active-animation .anim-show {
  opacity: 1;
  transform: translate(0px, 0px);
 }
