@import 'reset';
@import 'vars';
@import './mixins';
@import './animation';
@import 'libs';
@import 'global';


.header {
  overflow-x: clip;

  &__wrap {
    position: relative;
  }


  &__burger {
    position: absolute;
    right: 0;
    top: 65px;
  }

  &__btn-menu {
    display: none;

    z-index: 11;
    position: relative;
    cursor: pointer;
    width: 50px;
    padding: 12px 0;
    transition: all .7s;
    border: none;

    &::after {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      content: "";
      width: 40px;
      height: 3px;
      background-color: $primary-color;
    }

    &::before {
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      content: "";
      width: 40px;
      height: 3px;
      background-color: $primary-color;
    }

    & span {
      display: block;
      width: 40px;
      height: 3px;
      background-color: $primary-color--light;
    } 

    @media (max-width: 550px) {      
      display: block;
    }    
  }


  &__btn-menu--active {

    & span {
      height: 0;
    }

    &::after {
      width: 42px;
      left: -10px;
      top: 45%;
      transform: rotate(-45deg); 
    }

    &::before {
        left: -10px;
        width: 42px;
        top: 45%;
        transform: rotate(45deg);
    }
  }



  &__nav {
    position: relative;
    padding: 30px 0;    
    border-bottom: 1px solid $primary-color--light;

    @media (max-width: 550px) {      
        opacity: 0;
        position: absolute;
        z-index: 10;
        width: 100%;
        height: 100vh;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;        
	      background-color: $main-color;
        transition: all 0.5s;
        transform: translateX(800px);

        &--active {
          opacity: 1;
          transform: translateX(0);
      }
    }
  }

  &__list {    
    display: flex;
    align-items: center;
    justify-content: space-between;

    @media (max-width: 550px) {      
      display: flex;
      flex-direction: column;
      margin-top: 90px;
    }
  }
  
  &__link {
    display: inline-block;
    font-size: 18px;
    @extend %font-link;
    color: $primary-color--light;
    transition: all 1s;

    &:hover {
      text-shadow: 2px 2px 8px $active-color;
    }

    @media (max-width: 550px) {      
      padding-bottom: 30px;
      font-size: 34px;
    }
  }

  &__link--active {    
	  color: $primary-color;
  }

  &__lang {
    font-size: 16px;
    position: absolute;
    right: 0;
    bottom: -120px;
    transform: rotate(90deg);

    &-btn {
      border: 0;
      @extend %font-link;
      color: $primary-color--light;
    }

    &-btn--active {
      color: $primary-color;
    }

    @media (max-width: 550px) {
      font-size: 34px;      
      bottom: 200px;
    }
  }

}



.home {
  
  padding-top: 50px;
  padding-bottom: 100px;

  &__content {
    position: relative;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    padding-bottom: 50px;

    @media (max-width: 800px) {
      flex-direction: column;
      align-items: flex-start;
    }
  }

  &__title {
    @extend %font-title;
    @include adaptiv-font(47, 36);
    width: 100%;
    max-width: 300px;
    line-height: 60px;

    transform: translate(0px, 140%);
    opacity: 0;
    transition: all 0.8s ease 0s;

    @media (max-width: 800px) {
      margin-bottom: 25px;
    }

    @media (max-width: 400px) {      
      line-height: 50px;
    }
  }

  &__title.active-animation {
    transform: translate(0px, 0px);
    opacity: 1;
  }
  
  &__subtitle-wrap {
    flex-basis: 50%;
    margin-right: 80px;

    transform: translate(0px, 140%);
    opacity: 0;
    transition: all 0.8s ease 0s;
  }

  &__subtitle-wrap.active-animation {
    transform: translate(0px, 0px);
    opacity: 1;
  }

  &__subtitle {
    @extend %font-subtitle;
    font-size: 20px;
    line-height: 28px;
  }  

  &__img {
    width: 100%;
    height: 380px;
    background: url("@img/myPhoto.jpg") 40% 38% / 100% no-repeat;

    @media (max-width: 400px) {
      background-position: bottom;
    }
  }
}



.about {
  padding: 110px 0;
  text-align: center;
  background-color: $secondary-color--light;

  &__title {
    @extend %font-title;
    font-size: 34px;
    line-height: 42px;
    padding-bottom: 18px;
  }

  &__text {
    width: 100%;
    max-width: 480px;
    font-size: 18px;
    line-height: 22px;
    margin: 0 auto;
    padding-bottom: 45px;
  }

  &__text:last-child {
    padding-bottom: 0;
  }

  &__link {
    position: relative;
    display: inline-flex;
    width: 160px;
    height: 40px;
    cursor: pointer;
    justify-content: center;
    align-items: center;
    border-radius: 0 0 10px 10px;
    transition: all 0.8s ease 0s;
    overflow: hidden;
    background-color: rgb(120, 174, 255);
    box-shadow: inset 0 0 5px rgba(255, 255, 255, 0.4);
    border-radius: 2px 2px 15px 15px;
    margin-top: 10px;
  }

  &__link:hover  {
    border-radius: 15px;
    box-shadow: inset 0 0 15px rgba(56, 56, 56, 0.4);
  }  

  &__link-text {
    @extend %font-link;
    color: initial;
    text-transform: uppercase;
    letter-spacing: 2px;
    position: relative;
    z-index: 1;    
  }

  &__link-wow {
    position: absolute;
    width: 170px;
    height: 170px; 
    top: 0;
    left: 0;   
    
  
    &::after,
    &::before {
      content: "";
      position: absolute;
      top: 9%;
      left: 50%;
      width: 100%;
      height: 100%;
      transform: translate3d(-50%, -96%, 0) rotate(0deg) scale(1);
    }
  
    &::before {
      background-color: rgba(255, 255, 255, 0.3);
      border-radius: 33%;
      animation: waves 8s infinite linear;
    }

    &::after {
      background-color: rgba(255, 255, 255, 0.5);
      border-radius: 42%;
      animation: waves 12s infinite linear;
    }
  }
}


.skill {
  padding: 90px 0;
  text-align: center;

  &__title {
    @extend %font-title;
    font-size: 34px;
    line-height: 42px;
  }

  &__subtitle {
    @extend %font-subtitle;
    font-size: 18px;
    line-height: 22px;
    padding: 50px 0;
  }  
}

.icon {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
  max-width: 700px;
  margin: 0 auto;
  
  &__item {
    @include adaptiv-width(140, 70); 
    display: flex;
    flex-direction: column;
    align-items: center;   
    padding: 10px 0;    
  }   

  &__item-img {    
    @include adaptiv-width(80, 50); 
    display: inline-block;
    object-fit: cover;
  }

  &__item-text {
    @extend %font-link;
    font-size: 14px;
    line-height: 15px;
    text-align: center;
    padding-top: 5px; 
  }
}

.portfolio {
  padding: 100px 0 50px;
  text-align: center;  
  background-color: $secondary-color--light;

  &__title {
    @extend %font-title;
    font-size: 34px;
    line-height: 42px;
    padding-bottom: 5px;
  }

  &__tabs {
    margin: 20px 0;
  }

  &__tabs-items {
    display: flex;    
    max-width: 840px;
    margin: 0 auto;
    background-color: rgba( $main-color, 0.6);
  }

  &__tabs-item {   
    flex: 0 1 50%;   
    color: inherit;
    text-transform: uppercase;
    transition: all 0.8s;      

    &:hover {
      box-shadow: 1px 1px 15px black;
    }   
  }

  & .mixitup-control-active {
    background-color: $accent-color;
  }

  &__box {
    width: 100%;
    max-width: 850px;
    margin: 0 auto;
    padding-top: 30px;
  }
  

  &__block {
    margin-bottom: 70px;
  }

  &__img-link {
    @include adaptiv-height(400, 300);
    display: inline-block;    
    position: relative;
    width: 100%;

    @for $i from 1 to 11 {    //последняя цифра не включена в цикл

      &.link-#{$i} {      
        background: url('@img/screen/#{$i}.png') center / contain no-repeat;
      
        @media (max-width: 650px) {
          background: url('@img/screen/#{$i}.png') center / cover no-repeat;
        }
      }
    } 
  }

  &__img-content {    
    position: absolute;
    opacity: 0;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: rgba( $main-color, 0.6);

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
    &:hover {
      opacity: 1;
      transition: all 1s;
    }
  } 
  
  &__img-title {
    @extend %font-title;
    @include adaptiv-font(35, 22);
    line-height: 38px;
    color: $primary-color;
    padding: 10%;    
  }

  &__link { //wow-effect from link
    display: inline-block;
    text-decoration: none;
    background-image: linear-gradient(90deg, $bg, $bg),
    linear-gradient(90deg, $underline-color, $underline-color);
    background-size: $underline-block-width $underline-width, 100% $underline-width;
    background-repeat: no-repeat;
    background-position-x: calc($underline-block-width * -1), 0;
    background-position-y: 100%;
    transition: background-position-x $underline-transition;

    &:hover {
      background-image: linear-gradient(90deg, $bg, $bg),
        linear-gradient(
          90deg,
          $underline-color-hover,
          $underline-color-hover
        );
      background-position-x: calc(100% + $underline-block-width), 0;
    }
  }

  &__link-title {
    position: relative;
    top: -10px;
    @extend %font-link;
    @include adaptiv-font(21, 16);
    line-height: 22px;
    color: $primary-color;        
  }

  &__spoiler {
    margin-top: 20px;
  }

  &__spoiler-click {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba( $main-color, 0.6);
    cursor: pointer;    
  } 
  
  &__spoiler-arrows {
    position: relative;
    top: -5px;

    &.slide-bottom {
      -webkit-animation: slide-bottom 1.8s ease-in-out 1s infinite alternate both;
            animation: slide-bottom 1.8s ease-in-out 1s infinite alternate both;

    }
    
    &::after,
    &::before {      
      position: absolute;
      content: "";
      width: 16px;
      height: 1.5px;
      background-color: $primary-color;
      top: 5px;
      transition: all 0.3s ease 0s;    
    }

    &::after {
      transform: rotate(40deg);
      top: 40%;
      left: 0;
    }

    &::before {
      transform: rotate(-40deg);
      top: 40%;
      left: 12px;
    }    
  }
  
  &__spoiler-title {
    @extend %font-title;
    text-transform: uppercase;
    font-size: 20px;
    letter-spacing: 2px;
    padding: 10px 50px;
    position: relative;
  }
    
    

  &__spoiler-click.active &__spoiler-arrows::after,
  &__spoiler-click.active &__spoiler-arrows::before{
      background-color: rgba($primary-color, 0.5);
  }

  &__spoiler-click.active &__spoiler-arrows::after {
    transform: rotate(-40deg);
  }

  &__spoiler-click.active &__spoiler-arrows::before {
    transform: rotate(40deg);
  }

  &__spoiler-click.active .slide-bottom {
    animation: none;
  }

  &__spoiler-content {
    display: none;
    margin-top: 20px;
  }

}



.contact {
  padding: 115px 0 85px;
  text-align: center;

  &__title {
    @extend %font-title;
    font-size: 34px;
    line-height: 42px;
    padding-bottom: 20px;
  }

  &__subtitle {
    @extend %font-subtitle;
    font-size: 18px;
    line-height: 22px;    
    max-width: 275px;
    margin: 0 auto;
    padding-bottom: 30px;
  }

  &__list {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__item {
    margin: 0 30px;
  }

  &__img {
    width: 42px;
    object-fit: contain;
  }
  
}


.footer {
  padding-bottom: 60px;
  text-align: center;

  &__copyright {
    font-size: 14px;
    line-height: 17px;
    color: $primary-color--light;
  }
}

